

.background {
	background-image: url('./background.jpg');
	background-position: center center;
	background-size: cover; 
	position: absolute;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
}


