@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.background {
	background-image: url('./Images/background.jpg');
	background-position: center center;
	background-size: cover; 
	position: absolute;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
}


body {
	font-family: 'Work Sans';
}

.link {
	color: #1B3851;

}

/*.modalButtons {
	vertical-align: baseline;
}*/