@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.background {
	background-image: url('./Images/background.jpg');
	background-position: center center;
	background-size: cover; 
	position: absolute;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
}


body {
	font-family: 'Work Sans';
}

.link {
	color: #1B3851;

}